@import '../theme';

.sideBar {
  background-color: $backgroundColor;
  color: $textColor;
  width: 270px;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  border: 2px solid sandybrown ;
}
