{
  compact: false,
  ast: false,
  babelrc: false,
  retainLines: true,
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    "syntax-trailing-function-commas",
    "transform-class-properties",
    [
      "babel-root-import",
      {
        "rootPathPrefix": "/"
      }
    ]
  ]
}
