{
  compact: false,
  ast: false,
  babelrc: false,
  retainLines: true,
  "presets": [
    "meteor",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
//    [
//      "babel-root-import",
//      {
//        "rootPathPrefix": "/"
//      }
//    ]
  ]
}
