{
  compact: false,
  ast: false,
  babelrc: false,
  retainLines: true,
  "presets": [
    "babel-preset-es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "babel-root-import",
      {
        "rootPathPrefix": "/",
        "rootPathSuffix": "shattered-game"
      }
    ]
  ]
}
